
{% load dingos_tags %}

{% if stand_alone %}
    {% show_InfoObject iobject2facts=course_of_action.node.facts title="Selected Details" io2f_pred=course_of_action.filter header_level=2 %}
{% else %}
    {% show_InfoObject iobject2facts=course_of_action.node.facts link_pk=course_of_action.pk title=course_of_action.title io2f_pred=course_of_action.filter close_div=False header_level=2 inner_collapsible='Selected Details'%}
{% endif %}

{% show_InfoObject iobject2facts=course_of_action.node.facts title="All Details" fold_status='closed' header_level=3 %}

{% if not stand_alone %}
    </div>
{% endif %}
